<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div class="container-fluid" style="margin-top: 40px;">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title text-center">
              Listado de visitas médicas de {{ doctor.firstName }} {{ doctor.lastName }}
            </h2>
          </div>
          <div class="card-body">
            <flash-messages></flash-messages>
            <h4 style="text-align: center;" *ngIf="!exists">Usten no posee visitas médicas</h4>
            <div *ngIf="exists" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Empresa</th>
                    <th>Empleado</th>
                    <th>Estado de la atención</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let evaluation of evaluations">
                    <td>{{ evaluation.index }}</td>
                    <td>{{ evaluation.date | date:'dd/MM/yyyy' }}</td>
                    <td>{{ evaluation.employee.firstName }} {{ evaluation.employee.lastName }}</td>
                    <td>{{ evaluation.customer.name }}</td>
                    <td>{{ evaluation.state.state }}</td>
                    <td>
                      <a href="doctors/attention/{{ evaluation.id }}">Ver</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>