<nav class="navbar navbar-expand-lg navbar-custom bg-faded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img style="max-width:100px; margin-top: -10px;" alt="Brand" src="assets/images/icon.png">
      <a style="font-size: 20px; color: white; text-decoration: none;" href="/">Safe</a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i style="color:white; font-size: 30px;" class="material-icons">menu</i>      
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="auth.loggedIn()" class="nav-item active">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li *ngIf="auth.loggedIn()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="evaluations" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Evaluaciones</a>
          <div class="dropdown-menu" aria-labelledby="evaluations">
            <a class="dropdown-item" href="evaluations/create">Registrar evaluación</a>
            <a class="dropdown-item" href="evaluations">Listar evaluaciones</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="auth.loggedIn()" class="navbar-nav pull-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="auth.loggedIn()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.firstName }} {{ user.lastName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="auth.loggedIn()">
            <a (click)="onLogout()" class="dropdown-item" href="/">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>