<div class="container">
  <div class="table table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Rut</th>
          <th>Nombre de fantasía</th>
          <th>Dirección</th>
          <th>Zona</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.rut }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.address }}</td>
          <td>{{ customer.zone_name }}</td>
          <td>
            <a href="customers/{{ customer.id }}">Ver</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
