<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="bg"></div>
      <div class="error-template">
        <h1>Error 404</h1>
        <h3>Página no encontrada</h3>
        <div class="error-details">
          ¡La página que estás intentando ingresar no existe!
        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <i class="fa fa-home" aria-hidden="true"></i>            
            Volver al inicio
          </a>
        </div>
      </div>
    </div>
  </div>
</div>