<div class="container">
  <h2>Listado de capacitaciones</h2>
  <hr>
  <flash-messages></flash-messages>
  <div class="table table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha</th>
          <th>Empresa</th>
          <th>Expositor</th>
          <th>Tipo de capacitación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let training of trainings">
          <td>{{ training.index }}</td>
          <td>{{ training.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ training.customer.name }}</td>
          <td>{{ training.expositor.firstName }} {{ training.expositor.last_name }}</td>
          <td>{{ training.type.type }}</td>
          <td>
            <a href="trainings/{{ training.id }}">Ver</a>
            <span *ngIf="training.date < date && training.state.state === 'Registrada' && !(auth.isCompany() || auth.isEmployee())">
              |
              <a href="trainings/assistance/{{ training.id }}">Pasar lista</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>