<navbar></navbar>
<div style="margin-top: 50px;">
  <router-outlet></router-outlet>
</div>
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>
      <img width="40px" src="assets/images/icon.png"> Safe
    </h3>
    <hr>
    <p class="footer-company-about">
      <span>Sobre nosotros</span>
      Organización conformada el año 2000, se dedica a prestar servicios de asesoría en prevención de riesgos y salud ocupacional
      a empresas del sector minero.
    </p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>Av. Providencia 1100, Providencia</span>Santiago, Región Metropolitana</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+56 2 255 33 44</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:contacto@safechile.com">contacto@safechile.com</a>
      </p>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-icons">
      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
  <hr>
  <p class="footer-company-name">Kappa 8 &copy; 2017</p>
</footer>