<div class="container-fluid" style="margin-top: 100px;">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">Recuperar contraseña</h2>
        </div>
        <div class="card-body">
          <form (submit)="onRecovery()">
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input [(ngModel)]="email" class="form-control" type="text" name="email" id="email">
            </div>
            <button type="button" class="btn btn-lg btn-primary btn-block">Recuperar contraseña</button>
            <a class="btn btn-lg btn-primary btn-block" href="/login">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>